.subtitle {
  margin-bottom: 2rem;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  line-height: 1.4;
}

.subtitle .quoteStart {
  position: absolute;
  top: 0;
  left: -1.5rem;
  color: var(--color-primary);
}

.subtitle .quoteEnd {
  position: absolute;
  bottom: 0;
  right: -1.5rem;
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 1.2rem;
  }
  
  .subtitle .quoteStart {
    left: -1rem;
  }
  
  .subtitle .quoteEnd {
    right: -1rem;
  }
} 