.container {
  /* Base styles - no changes needed */
}

.reactionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 550px) {
  .reactionsRow {
    display: block;
    flex-direction: column;
    justify-items: start;
    gap: 0.7rem;
  }
}

.authorRow {
  margin-top: 2rem;
  display: flex;
}

@media (max-width: 550px) {
  .authorRow {
    flex-direction: column;
    gap: 2rem;
  }
}

.authorInfo {
  flex-basis: 40%;
  flex-grow: 1;
} 